* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(to right, #d488f8, #9356f1, #a769f2);
}

.header,
.items-list {
  justify-content: space-between;
}

.items-list {
  cursor: pointer;
}

.item-line-through {
  text-decoration: line-through;
}

.form-check-label {
  padding: 10px 10px 0px 0px;
}

.form-check-input {
  margin-top: 13px !important;
}

.btn-add-todo {
  background-color: #7f52eb !important;
  color: white !important;
}

.wrap {
  background: white;
  padding: 30px 25px;
  border-radius: 10px;
}

.items-list-wrap {
  border-bottom: 1px solid lightgrey;
  padding: 15px 10px;
  align-items: center;
  margin: 20px 0px;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.no-todo {
  margin: 20px 0px;
  padding: 10px;
  border: 1px solid purple;
  border-radius: 5px;
}

.center-vertically {
  /* display: flex;
  align-items: center;
  height: 100vh; */
}

.center-pagination {
  display: flex;
  justify-content: center;
}

.page-link {
  cursor: pointer;
}

.sort-wrap {
  border: 1px solid lightgrey;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.sort-wrap button {
  margin: 5px;
}

.search-wrap {
  border-radius: 10px;
  margin: 10px 0px;
  position: relative;
}

.search-submit-btn {
  position: absolute;
  right: 6px;
  top: 6px;
}

.adjust-wrap {
  padding: 0px 10px;
}

@media (max-width: 390px) {
  .sort-wrap button {
    font-size: 12px;
    padding: 5px;
  }
}
