* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.header,
.items-list {
  display: flex;
  justify-content: space-between;
}

.items-list {
  cursor: pointer;
}

.item-line-through {
  text-decoration: line-through;
}
